.NAV{
    background-color: rgb(82, 173, 173);
}

.NAV-list{
    display: flex;
    list-style: none;
    color:black;
    padding: 20px 0px;
    margin: 0px;
    font-size: 40px;
    font-weight: bold;
    justify-content: space-around;
}