
html{
    background-color:rgb(176, 204, 188);
    height: 100%;
}

body{
    margin: 0px;
    justify-content: space-between;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.NAV{
    background-color: rgb(194, 191, 191);
}

.NAV-list{
    display: flex; 
    list-style:none;
    color: rgb(8, 8, 8);
    padding: 10px 0px;
    margin: 0px;
    justify-content:space-around;
    font-size: 20px;
    font-weight: bold;

}
p{
text-align: center;
padding:50px;
}